<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >-->
<!--<suite name="Suite1" verbose="1" >-->
<!--    <test name="Nopackage" >-->
<!--        <classes>-->
<!--            <class name="TestNG" />-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >-->
<!--<suite name="Suite1" verbose="1" >-->
<!--    <test name="Kac numarali test include and exclude" >-->
<!--        <classes>-->
<!--            <class name="TestNG">-->
<!--                <methods>-->
<!--                    <exclude name="test1" />-->
<!--                </methods>-->
<!--            </class>            -->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >-->
<!--<suite name="test suite">-->
<!--    <test name="Grup Bulma">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Group C"/>-->
<!--                <include name="Group A"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="TestNG"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >-->
<!--<suite name="test suite">-->
<!--    <test name="priority öncelik sırasına göre koşma">-->
<!--        <classes>-->
<!--            <class name="TestNG"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="test suite">
<test name="Raporlamayı öğrenme">
    <classes>
        <class name="TestNG"/>
    </classes>
</test>
</suite>
